@tailwind base;
@tailwind components;
@tailwind utilities;







#nprogress .bar {
  background: #5d6e7e; 
  height: 4px; 
}

#nprogress .peg {
  box-shadow: 0 0 10px white, 0 0 5px white; 
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
